@font-face {
    font-family: 'Rubik Wet Paint';
    src: url('RubikWetPaint-Regular.woff2') format('woff2'),
        url('RubikWetPaint-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

